/* common style */

*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
body{
    font-family: 'Lato', sans-serif;

}
.header-flex, .box-flex, .blog-flex, .deal-flex, .social-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 20px 40px;
    background-color:#e55473;
    border-radius: 10px;
    color: white;
}
h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    }
h2{
    color: #272727;
    font-size: 48px;
    font-weight: 800;
    }
h3{
color: #272727;
font-size: 40px;
font-weight: 800;
}
.red{
    color: #E55473;
}
p{
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.header-back, .deal-back{
    background: rgba(229, 84, 115, 0.10);
}

















